[submodule "vim/.vim/_addons/vim-late_evening"]
	path = vim/.vim/_addons/vim-late_evening
	url = git@github.com:h3xx/vim-late_evening.git
[submodule "vim/.vim/_addons/vim-eunuch"]
	path = vim/.vim/_addons/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
